nav{
    background: #192027;
    padding: 1rem;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.aside{
    min-width: 250px;
    margin-right: 2rem;
}

nav ul li{
    margin: 0 1rem;
}
.container{
    display: flex;
}

.profile-img{
    width: 100%;
    height: 250px;
}

.profile-img img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.presentation-text{
    background-color: #192027;
    padding: 1rem;
} 
.presentation-text h2, h5{
    line-height: 0;
    text-align: center;
}

.info-list{
    list-style: none;

}

.info-item{
    margin: 1rem 0;
}